
<%= form_for([@employee, @employee.registers.build]) do |f| %>
  <table>
<tr>
    <td>name:</td>
    <td><%= @employee.name %></td>
 </tr>
<tr>
    <td>department:</td>
    <td><%= @employee.department %></td>
 </tr>
    <td><%= f.label :date %></td>
    <td><%= f.text_field :date %></td>
 </tr>
<tr>
    <td><%= f.label :present %></td>
    <td> <%=  f.check_box(:present,{:multipart => true }, "present",nil)
 %> </td>
 </tr>
<tr>
    <td><%= f.label :late %></td>
    <td><%= f.check_box(:late,{:multipart => true }, "late",nil) %> </td>
 </tr>
<tr>
    <td><%= f.label :absent %></td>
    <td><%= f.check_box(:absent,{:multipart => true }, "absent",nil) %> </td>
 </tr>

<tr>
    <td><div class="actions"></td>
    <td><%= f.submit %></td>
  </tr>
</table>
<% end %>
