<h2>Registers</h2>

  <p>
    <b>employee_id:</b>
    <%= register.employee_id %>
  </p>
  <p>
    <b>date:</b>
    <%= register.date %>
  </p>
  <p>
    <b>present:</b>
    <%= register.present %>
  </p>
<p>
    <b>late:</b>
    <%= register.late %>
  </p>
<p>
    <b>absent:</b>
    <%= register.absent %>
  </p>
